.slider .track {
    -fx-background-color: null;
}
.slider .thumb {
    -fx-padding: 4;
    -fx-opacity: 0.5;
}
.progress-bar {
    -fx-padding: 2;
}
.progress-bar .bar {
    -fx-background-insets: 0;
}